{
    "bot_owner_id": 12345678901234567890,
    "bot_debug_whitelist": [
        123456747476467467,
        196827593945739483,
        579378374739183938
    ],
    "bot_name": "Cat Bot",
    "bot_prefix": "!",
    "bot_env": "dev",
    "bot_image": "https://i.imgur.com/BBcy6Wc.jpg",
    "music_leaveAfterDone": true,
    "bredo_servermon__enable": true,
    "bredo_servermon__cpuThreshold": 25,
    "bredo_servermon__intervalSeconds": 5,
    "bredo_servermon__sysop": "1983235073250327508",
    "bredo_servermon__sysop_log_channel": "18214210472107408"
    "infraction_logging_enabled": true,
    "infraction_log_channel": "18214210472107408"
}